/SupermarketManagementSystem/.idea/
/SupermarketManagementSystem/out/
/SupermarketManagementSystem/*.iml
/SupermarketManagementSystem/resources/docs/*.aux
/SupermarketManagementSystem/resources/docs/*.synctex.gz
/SupermarketManagementSystem/resources/docs/*.log
/SupermarketManagementSystem/resources/docs/*.toc