**/.vscode/

/SupermarketManagementSystem/.idea/
/SupermarketManagementSystem/out/
/SupermarketManagementSystem/*.iml

/EightQueensProblem/.idea/
/EightQueensProblem/cmake-build-*/
/EightQueensProblem/CmakeLists.txt
